@charset "utf-8!;";

@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url("https://use.typekit.net/ovh1rje.css");


* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	cursor: url(img/cursorr.svg), auto;

}

body {
	background-color: #000000;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	font-family: "flower-power";
	box-sizing: border-box;
	
}


.botonera {
	align-items: center;
	justify-content: space-around;
	display: flex;
	padding: 10px;
}

.botonera a {
	font-family: "flower-power", sans-serif;
	font-size: 15px;
	transition: 0.2s;
	border-radius: 9px;
	padding: 10px;
	color:#ffffff;
}

.botonera a:hover {
	color: #F5F5F5;
	background-color: #460CE9;
	border-radius: 15px;
}

h1 {
	font-family: "flower-power", sans-serif;
	color: #ffffff;
	font-size: 80px;
	padding: 70px;

}


/*hasta aca header*/

/*desde aca main*/

section [id] {
	width: 100px;
	height: 100vh;
}

#Bienvenidos {
	display: flex;
	align-items: center;
	height: 100vh;
	justify-content: center;
	text-align: center;
	font-size: 70px;
	
	animation: cambiodecolor 4s infinite;
}


@keyframes cambiodecolor {
	00% {
		background-color: #BA007C;

	}

	50% {
		background-color: #774DF4;
	}

	50% {
		background-color: #460CE9;
	}
}

h2 {
	display: flex;
	justify-content: space-between;
	font-size: 120px;
	padding: 20px;

}

.Presentación {
	display: flex;
	justify-content: space-between;
	padding: 200px 80px;
	flex-direction: column;
	

}

.palabraderecha {
	padding: 20px;
	display:flex ;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
}

.palabraderecha h3 {
	font-size: 150px;
	color:#460CE9;
	padding: 40px;
	font-family: "flower-power";
	animation: aparecerDesdeIzquierda 2s infinite;
	
}


@keyframes aparecerDesdeIzquierda {
	from {
		transform: translateX(-100%);
	}

	to {
		transform: translateX(0);

	}

}

.parrafo {
	padding: 20px;
}

.parrafo p {
	font-size: 36px;
	font-family: "itim";
	color: rgb(255, 255, 255);
	padding: 30px;
	animation: cambiodecolor 4s infinite;
	border-radius: 15px;
	
}


@keyframes cambiodecolor {
	0% {
		background-color: #BA007C;

	}

	50% {
		background-color: #460CE9;
	}

}

.proyectos {
	display:flex;
	gap:50px;
	flex-direction: column;
	align-items: flex-start;

	
}

h5 {
	font-size: 50px;
	color: #ffffff;
}

@keyframes aparecerDesdeIzquierda {
	from {
		transform: translateX(-100%);
	}

	to {
		transform: translateX(0);

	}
}


.destacados {
	display: flex;
	align-items: center;
	gap:50px;
	background-color: #2D0D3F;
	border-radius: 30px;
	padding: 50px;
	
}

.carrusel {
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    border-radius: 30px;
	
}

.imagenes {
	display: flex;
    animation: slide 6s infinite;
	
	
}

@keyframes slide {
    0% { transform: translateX(0); }
    33.33% { transform: translateX(0); }
    36.66% { transform: translateX(-100%); }
    69.99% { transform: translateX(-100%); }
    73.32% { transform: translateX(-200%); }
    100% { transform: translateX(-200%); }
}
.imagen {
    min-width: 100%;
}

.imagen img {
    width: 100%;
    display: block;
	border-radius: 80px;
	
	
}

input[type="radio"] {
    display: none;
}

#img1:checked ~ .imagenes {
    transform: translateX(0);
}

#img2:checked ~ .imagenes {
    transform: translateX(-100%);
}

#img3:checked ~ .imagenes {
    transform: translateX(-200%);
}

#img4:checked ~ .imagenes {
    transform: translateX(-200%);
}



.ver-mas {
	font-family: "itim";
    display:flex;
	align-items: center;
    background-color: #460CE9;
    color: white;
    border-radius: 5px;
}

.ver-mas:hover {
    background-color: #BA007C;
	}
	




.item{
	display: flex;
	flex-direction: column;
	gap:80px;
}

.item img:hover {
	transform: scale(1.1);
    overflow: hidden;
	
}



.contacto :hover {
background-color: #BA007C;
color: #f5f5f5;
}

.contacto{
	font-size: 80px;
	display:flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	color: #BA007C;
	animation: aparecerDesdeIzquierda 1s infinite;
	padding-left: 40px;
	
	
}

#redes-sociales {
    display: flex;
	justify-content: space-between;
    gap: 15px;
}

.redes:hover {
    transform: scale(1.1);
    overflow: hidden;
}

.formulario{
	font-family: "itim";
	font-size: 21px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap:40px;
	background-color: #BA007C;
	padding: 40px;


	
}

.formulario a{
	color: #ffffff;
	transition: 0.2s;
	border-radius: 9px;
	padding: 10px;
	border: 1px solid #FFF;
}

.formulario a:hover {
	color: #BA007C;
	background-color: #000000;
	
}


footer {
font-family: "itim";
font-size: 15px;
display: flex;
justify-content: space-between;
align-items: center;
}

/*fin de index/


/*acerca de mi html*/

#nombre {
	font-size: 50px;
	text-align: center;
	color: #BA007C;
	display:flex;
	justify-content: center;
}

.subtitulo{
font-size: 50px;
font-family: "itim";
text-align: center;
display:flex;
	justify-content: center;
}



#acercademi img {
	border-radius: 50px;
	margin-left: 100px;
	border: 3px solid #774df4;

}

#acercademi:hover img {
	transform: scale(1.1);
}


.flor {
	display: flex;
	justify-content: center;
}

.flor img {
	width: 100px;
	height: 100px;
	animation: spin 3s linear infinite;
	gap:50px;


}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}


.cajatexto {
	font-family: "flower-power";
	color: #BA007C;
	font-size: 50px;
	background-color: #2d0d3f;
	padding: 80px;
	display: flex;
	justify-content:center;
	align-items: center;
	text-align: center;


}



.oracion p {
	font-family: "itim";
	background-color: #2D0D3F;
	max-width: 500px;
	padding: 80px;
	



}



#educación {
		display: flex;
		column-gap: 80px;
		padding: 200px;
		justify-content: center;
		background-color: #2d0d3f;
	font-family: "itim";
	
	


}

.habilidades {
	display: flex;
	Flex-direction: column;
	justify-content:center;
	gap: 10px;
	font-size: 20px;
	
	

}

.habilidades h4 {
	margin-top: 20px;
	color: #BA007C;
}

body span {
    color: #BA007C;
}

/*fin acerca de mi /


/*formulario*/

.container {
    display: flex;
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}

.left-panel {
    width: 40%;
    color: white;
    text-align: center;
    padding: 20px;
}

.left-panel h2 {
    font-size: 20px;
    margin-bottom: 20px;
	font-family: "itim";
}



.right-panel {
    width: 100%;
    border-radius: 15px;
    padding: 100px;
}

.right-panel h1 {
    font-size: 36px;
    color: white;
    text-align: center;
    font-family: "flower-power";
}

.right-panel p {
    text-align: center;
    color: white;
    margin-bottom: 20px;
	font-family: "itim";
}


form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

}

.form-group {
    display: flex;
    flex-direction: column;
	
}

label {
    font-size: 14px;
    color: white;
    margin-bottom: 5px;
	font-family: "itim";
}

input, textarea {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #16006C;
    background-color: #E4D4F9;
    color: #000;
}

textarea {
    grid-column: span 3;
}

.form-buttons {
    grid-column: span 3;
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    width: 100px;
}

.reset {
    background-color: #6C00A4;
}

.submit {
    background-color: #16006C;
}

/*fin de formulario/


/*galeria*/

.principio h1{
	font-size: 60px;
	background-color: #460CE9;
	display:flex;
	justify-content: center;
}

.identidad {
	font-size: 25px;
	font-family: "itim";
	color: #BA007C;
	display: flex;
	justify-content: space-around;
}

.epigrafe-latas {
	font-family: "itim";
	font-size: 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	max-width: 500px;
}

.latas{
	font-family: "itim";
	font-size: 40px;
	color: #460CE9;
	display: flex;
	justify-content: space-around;
}



.lettering h4{
	font-family: "itim";
	font-size: 25px;
	color: #460CE9;
	display: flex;
	justify-content: space-around;
	align-items: center;
}


.personalizadolettering {
	font-family: "itim";
	font-size: 25px;
	color: #BA007C;
	display: flex;
	justify-content:center;
	align-items: center;
}


.epigrafe-letering{
	font-family: "itim";
	font-size: 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	max-width: 500px;
}

.libro h4{
	font-family: "itim";
	font-size: 25px;
	color: #460CE9;
	display: flex;
	justify-content: space-around;
	align-items: center;
}


.editorial{
	font-size: 25px;
	font-family: "itim";
	color: #BA007C;
	display: flex;
	justify-content: space-around;
}


.epigrafe-libro {
	font-family: "itim";
	font-size: 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	max-width: 500px;
}


.fasciculo h4{
	font-family: "itim";
	font-size: 25px;
	color: #460CE9;
	display: flex;
	justify-content: space-around;
	align-items: center;
}


.fasciculoeditorial{
	font-size: 25px;
	font-family: "itim";
	color: #BA007C;
	display: flex;
	justify-content: space-around;
}


.epigrafe-fasciculo{
	font-family: "itim";
	font-size: 20px;
	display: flex;
	justify-content: space-around;
	max-width: 500px;
}




.ver-mas {
	font-family: "itim";
    display: inline-block;
    padding: 10px 20px;
    background-color: #460CE9;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.ver-mas:hover {
    background-color: #BA007C;
	}
	

