@charset "utf-8!;";

@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url("https://use.typekit.net/ovh1rje.css");


* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	cursor: url(img/cursorr.svg), auto;

}

body {
	background-color: #000000;
	color: #ffffff;
	flex-direction: column;
	font-family: "flower-power";
	

}


.botonera  {
	align-items: center;
	justify-content: space-between;
	display: flex;
	padding: 10px;
}

.botones a {
	font-family: "flower-power", sans-serif;
	font-size: 15px;
	transition: 0.2s;
	border-radius: 9px;
	padding: 20px;
	color: #ffffff;
	justify-content: space-around;
}

.botones a:hover {
	color: #F5F5F5;
	background-color: #460CE9;
	border-radius: 15px;

}



/*hasta aca header*/

/*desde aca main*/



#bienvenidos {
	font-family: "itim";
	display: flex;
	align-items: center;
	height: 100vh;
	padding: 70px;
	font-size: 70px;



}

#bienvenidos:hover {
	color: #ffffff;
	background-color: #460CE9;
	text-transform: lowercase;
	font-family: "itim";
	font-size: 70px;
	z-index: 9999;
}

.flower {
	display: flex;
	align-items: center;
	animation: spin 15s linear infinite;
	


}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}



.presentación {
	display: flex;
	justify-content: space-between;
	padding: 100px 80px;
	flex-direction: column;


}

.palabraderecha {
	padding: 20px;
	display: flex;
	align-items: center;
	height: 100vh;
	
}

.palabraderecha h3 {
	font-size: 150px;
	color: #460CE9;
	padding: 40px;
	font-family: "flower-power";
	animation: aparecerDesdeIzquierda 2s infinite;

}


@keyframes aparecerDesdeIzquierda {
	from {
		transform: translateX(-100%);
	}

	to {
		transform: translateX(0);

	}

}


.cuadro {
	padding: 20px;
}

.cuadro  {
	font-size: 36px;
	font-family: "itim";
	color: #460CE9;
	padding: 30px;
	animation: cambiodecolor 4s infinite;
	border-radius: 15px;
	

}

.cuadro ul{
display: flex;
gap:20px;
}


.zonaflor {
	flex-direction: column;

}

.zonaflor img {
	animation: spin 15s linear infinite;
	


}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}


@keyframes cambiodecolor {
	0% {
		background-color: #BA007C;

	}

	50% {
		background-color: #ffffff;
	}

}

.proyectos {
	display: flex;
	


}

h5 {
	font-size: 50px;
	color: #ffffff;
}

@keyframes aparecerDesdeIzquierda {
	from {
		transform: translateX(-100%);
	}

	to {
		transform: translateX(0);

	}
}


.destacados {
	display: flex;
	align-items: center;
	gap: 50px;
	background-color: #460CE9;
	border-radius: 30px;
	padding: 95px;

}

.carrusel {
	max-width: 600px;
	margin: auto;
	overflow: hidden;
	border-radius: 30px;

}

.imagenes {
	display: flex;
	animation: slide 6s infinite;


}

@keyframes slide {
    0% { transform: translateX(0); }
    20% { transform: translateX(0); } 
    25% { transform: translateX(-100%); }
    45% { transform: translateX(-100%); } 
    50% { transform: translateX(-200%); }
    70% { transform: translateX(-200%); } 

}


.imagen {
	min-width: 100%;
}

.imagen img {
	width: 100%;
	display: block;
	border-radius: 80px;
}

input[type="radio"] {
	display: none;
}

#img1:checked~.imagenes {
	transform: translateX(0);
}

#img2:checked~.imagenes {
	transform: translateX(-100%);
}

#img3:checked~.imagenes {
	transform: translateX(-200%);
}



.ver-mas {
	font-family: "itim";
	display: flex;
	align-items: center;
	background-color: #000000;
	color: white;
	padding: 15px;
	border-radius: 5px;
	position: absolute;
	top:1969px;
	right:432px;
}

.ver-mas:hover {
	background-color: #BA007C;
}



.item {
	display: flex;
	flex-direction: column;
	gap: 80px;
}

.item img:hover {
	transform: scale(1.1);
	overflow: hidden;

}



.contacto {
	font-size: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	color: #BA007C;
	animation: aparecerDesdeIzquierda 3s infinite;
	padding-left: 40px;


}




.formulario {
	font-family: "itim";
	font-size: 21px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	background-color: #BA007C;
	padding: 40px;



}

.formulario a {
	color: #ffffff;
	transition: 0.2s;
	border-radius: 9px;
	padding: 10px;
	border: 1px solid #FFF;
}

.formulario a:hover {
	color: #BA007C;
	background-color: #000000;

}

.footer {
	display: flex;
		padding: 10px;
		font-family: "itim";
		}
	



#redes-sociales {
    display: flex;
    justify-content: center;
    gap: 10px;
	
	
}


.redes:hover {
	transform: scale(1.1);
	overflow: hidden;
	
}


.right {
    text-align: right;
	font-family: "itim";
	
}


/*fin de index/


/*acerca de mi html*/


#nombre {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
	padding: 30px;
}

#nombre p {
	font-size: 30px;
	display: flex;
	justify-content: center;
	font-family: "itim";



}


#acercademi {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 60px;
	padding: 70px;
	background-color: #BA007C;

}

#acercademi h2{
	font-size: 50px;
}


#nombre img {
	border-radius: 50px;
	gap: 50px;
	border: 3px solid #460CE9;
	

}

#nombre:hover img {
	transform: scale(1.1);
}

.subtitulo h1{
	font-size: 50px;
	color: #BA007C;
}

.cajatexto {
	max-width: 500px;
	font-family: "itim";

}

.caja2 {
	font-family: "itim";
	padding: 20px;
	border-radius: 50px;
	max-width: 500px;
	background-color: #460CE9;
	border: 2px solid #ffffff;
	flex-direction: column;
	width: 100%;
	
	
}

.contenedor-violeta{
display: flex;
justify-content: center;
align-items: center;
padding: 80px;
}

.caja2 h4 {
	margin-bottom: 8px;
	
}



.caja2 {
	display: flex;
	align-items: center;

}


.flor {
	display: flex;
	justify-content: center;
}

.flor img {
	width: 100px;
	height: 100px;
	animation: spin 20s linear infinite;
	gap: 40px;


}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}


.h2 {
	font-family: "itim";
	font-size: 100px;
	padding: 40px;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}



.p {
	font-family: "itim";
	max-width: 500px;
	padding: 80px;
	font-size: 16px;
	display: flex;
	align-items: flex-start;
	flex-direction: column;



}


#educación {
	display: flex;
	column-gap: 80px;
	padding: 30px;
	justify-content: center;
	font-family: "itim";
	width: 100%;


}

.habilidades {
	Flex-direction: column;
	justify-content: center;
	font-size: 20px;
	background: #460CE9;
	border: 2px solid #ffffff;
	padding: 50px;
	border-radius: 50px;
	max-width: 500px;
}




.habilidades h4 {
	margin-top: 20px;
	color: #ffffff;
	

}


/*fin acerca de mi /


/*formulario*/

.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
	background-color: #460CE9;
	padding: 40px;
	border-radius: 10px;

	
}

.izquierda {
    flex: 1;
    text-align: center;
}

.izquierda h2 {
    font-size: 30px;
    margin-bottom: 20px;
	font-family: "itim";
	padding: 50px;

}

.floress {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
	flex-direction: column;
}

.florecitas {
    width: 100px;
    height: auto;
}

.floress {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.florr {
    width: 100px;
    height: auto;
}

.flor1 {
    top: 0;
    left: 0;
    animation: rotate 10s linear infinite;
	padding: 20px;
}

.flor2{

    top: 100px;
    left: 50px;
    animation: rotate 8s linear infinite reverse;
	padding: 20px;
	
}

.flor3 {
    top: 200px;
    left: 100px;
    animation: rotate 12s linear infinite;
	padding: 20px;
}





.derecha {
    flex: 1.5;
    background-color: #BA007C; 
	border: 2px solid #ffffff;
    padding: 40px;
    border-radius: 15px;

	

}

.derecha h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
	
}

.derecha p {
    text-align: center;
    margin-bottom: 20px;
	font-family:"itim";

}

.formulario2 {
    display: flex;
	flex-direction: column;
	align-items: stretch;
    gap: 15px;
	border-radius: 20px;
	


}

.campo {
    display: flex;
	align-items: stretch;
    flex-direction: column;
	
	


	
}

.campo label {
    margin-bottom: 2px;
	font-family: "itim";
	
}

.campo input, .campo textarea {
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
	font-family: "itim";
	border: 2px solid #460CE9;
	width: 500px;
	
}



.obligatorio {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.nota-obligatorios {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.botones2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.boton {
    background-color: #000000;
    color: white;
    padding: 10px;
    border: 2px solid #ffffff;
    border-radius: 5px;
	font-family: "itim";

}

.boton:hover {
    background-color: #460CE9;
}

.borrar {
    background-color: #000;
}

.borrar:hover {
    background-color: #460CE9;
}



@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*fin de formulario/


/*galeria*/

.principio {
	font-size: 20px;
	text-align: center;
	padding: 30px;
	background-color: #460CE9;
	
	
}


.project {
    margin-bottom: 20px; 
	margin-top: 50px;


}

.project h2{
font-size: 20px;
color: #460CE9;
display:flex;
justify-content: center;



}

.project h4{
	font-size: 20px;
	font-family: "itim";
	color: #BA007C;
	display: flex;
	justify-content: center;
	}

.project p {
font-size: 18px;
font-family: "itim";
display: flex;
justify-content: center;

}


.gallery {
    display: flex; 
    flex-direction: row; 
    overflow-x: auto; 
    gap: 10px; 
	padding:20px;
	
	
}

.gallery-image {
    object-fit: cover; 
    cursor: pointer;
    border: 2px solid #BA007C;
    border-radius: 5px;
    transition: transform 0.2s;
	gap:30px;
	
	
}

.gallery-image:hover {
    transform: scale(1.05);
}

.popup {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
	background-color: rgba(0, 0, 0, 0.8);
	
}

.popup-content {
    max-width: 90%;
    max-height: 90%;
	border-radius: 5px;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 40px;
    cursor: pointer;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 30px;
    text-decoration: none;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}



/*fin de galeria*/




@media (max-width: 600px) {
	.botonera {
		display: flex;
				padding: 10px;
				height: 100vh;
			width: 100%;
			flex-direction: column;
        justify-content: space-around;
			}
			
			.botones a {
				font-size: 20px;
				transition: 0.2s;
				border-radius: 9px;
				padding: 20px;
				color: #ffffff;
				justify-content: space-around;
			}
			
			.botones {   
				display: flex;
			justify-content: space-around;
				flex-direction: column;
			}
}

